Ej03_XSD/src/main/resources/XML/02_elementos_ocurrencias.dtd

<!--

Elementos con hijos (secuencias)

Una ocurrencia

	<!ELEMENT element-name (hijo)
	
	<!ELEMENT pelicula (titulo)>
	<pelicula>
		<titulo>2001</titulo>
		<titulo>ERROR!</titulo>
	</pelicula>
	
Mínimo una ocurrencia		

	<!ELEMENT element-name (hijo+)
		
	<!ELEMENT pelicula (genero+)
	<!ELEMENT genero (#PCDATA)>
	
	<pelicula>
		ERROR!	
	</pelicula>	
	<pelicula>
		<genero>Ciencia ficción</genero>	
		<genero>Terror</genero>
	</pelicula>
	
Cero o más ocurrencias

	<!ELEMENT element-name (hijo*)
		
	<!ELEMENT pedido (incidencia*)
	<!ELEMENT incidencia (#PCDATA)>
	
	<pedido>
		OK	
	</pedido>	
	<pedido>
		<incidencia>Falta un producto</incidencia>	
		<incidencia>Direccion incorrecta</incidencia>
	</pedido>		

Cero o una ocurrencia

	<!ELEMENT element-name (hijo?)
		
	<!ELEMENT persona (dni?)
	<!ELEMENT dni (#PCDATA)>
	
	<persona>
		OK	
	</persona>	
	<persona>
		<dni>12345</dni>	
	</persona>	
	
Contenido variable

	<!ELEMENT correo (to,from,(texto|body))>	
	<!ELEMENT table (tableHead?, (tr*|tableBody))>
	<!ELEMENT documento (capitulo|nota)*>
-->

<!-- Solución rápida y fatal-->
<!ELEMENT raiz ANY>

<!ELEMENT table (tableHead?, (tr+|tableBody))>
<!ELEMENT tableHead (tr*)>
<!ELEMENT tableBody (tr*)>
<!ELEMENT tr (td*)>
<!ELEMENT td (#PCDATA)>

<!ELEMENT menu ((pizza|hamburguesa), complemento*, bebida)>
<!ELEMENT pizza (ingrediente+)>
<!ELEMENT hamburguesa (ingrediente+)>
<!ELEMENT ingrediente (#PCDATA)>






