Ej03_XSD/src/main/resources/XML/04_entities.dtd

<!--
<!ENTITY entity-name "entity-value">

Para valores repetidos:
-->

<!ELEMENT raiz ANY>

<!ELEMENT libro (editorial,autor)>
<!ELEMENT editorial (#PCDATA)>
<!ELEMENT autor (#PCDATA)>

<!ENTITY editorial "Editorial de libros impresos de la Armuña">

<!--
Entidades externas
<!ENTITY entity-name SYSTEM "ruta">
-->

<!ENTITY textoLegal SYSTEM "./privacidad.txt">
<!ELEMENT documento (contenido,textoLegal)>
<!ELEMENT contenido (#PCDATA)>
<!ELEMENT textoLegal (#PCDATA)>

<!--
Entidades de parámetro
<!ENTITY % nombre "lista de elementos">
-->

<!ENTITY % datosContacto "telefono, email, direccion">

<!ELEMENT cliente (nombre, %datosContacto;)>
<!ELEMENT proveedor (empresa, %datosContacto;, cif)>

<!ELEMENT nombre (#PCDATA)>
<!ELEMENT empresa (#PCDATA)>
<!ELEMENT telefono (#PCDATA)>
<!ELEMENT email (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT cif (#PCDATA)>


