Ej03_XSD/src/main/resources/XML/08_mixed_complex_elements.xsd

<?xml version="1.0" encoding="UTF-8"?>

<!--  


<nombre>Luis Ramón <apellidos>Alvarez</apellidos></nombre> WTF

<nombreCompleto> OK
	<nombre>LR</nombre>
	<apellidos>AG</apellidos>
</nombreCompleto>


//////////////////////////////////////////////////////////////

Etiquetas con atributos, nodos de texto y etiquetas como hijos

<mensaje>
	Estimado <nombre>Antúnez</nombre>
	Su pedido <pedido>1234</pedido>
	será enviado el día <fechaEnvio>10/05/2035</fechaEnvio>.
</mensaje>

<xs:element name="mensaje">
  <xs:complexType mixed="true">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="pedido" type="xs:positiveInteger"/>
      <xs:element name="fechaEnvio" type="xs:date"/>
    </xs:sequence>
  </xs:complexType>
</xs:element>

Con un atributo

<xs:element name="mensaje">
  <xs:complexType mixed="true">
    <xs:sequence>
      <xs:element name="nombre" type="xs:string"/>
      <xs:element name="pedido" type="xs:positiveInteger"/>
      <xs:element name="fechaEnvio" type="xs:date"/>
    </xs:sequence>
    
    <xs:attribute name="idioma" type="xs:string" use="optional" />
    
  </xs:complexType>
</xs:element>


<mensaje idioma="">
	<nombre>Antunez</nombre>
	<pedido>321</pedido>
	<fecha>2026-12-23</fecha>
	<texto>
		Estimado Antúnez
		Su pedido 321
		será enviado el día 2026-12-23.
		Gracias por su dinero.	
	</texto>
</mensaje>




-->


<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" 
           targetNamespace="https://www.curso.com"      
           xmlns="https://www.curso.com"			   
           elementFormDefault="qualified">
           
	<xs:element name="mensaje">
	  <xs:complexType mixed="true">
	    <xs:sequence>
	      <xs:element name="nombre" type="xs:string"/>
	      <xs:element name="pedido" type="xs:positiveInteger"/>
	      <xs:element name="fechaEnvio" type="xs:date"/>
	    </xs:sequence>
	    <xs:attribute name="idioma" type="xs:string" use="optional" />
	  </xs:complexType>
	</xs:element>           
</xs:schema> 
