Ej03_XSD/src/main/resources/XML/peliculas.xsd

<?xml version="1.0" encoding="UTF-8"?>

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema"
           targetNamespace="https://www.curso.com/peliculas"
           xmlns="https://www.curso.com/peliculas"
           elementFormDefault="qualified">

  <xs:element name="peliculas">
    <xs:complexType>
      <xs:sequence>
        <xs:element ref="pelicula" minOccurs="0" maxOccurs="unbounded"/>
      </xs:sequence>
    </xs:complexType>
  </xs:element>

  <xs:element name="pelicula">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="titulo" type="xs:string"/>
        <xs:element name="director" type="xs:string"/>
        <xs:element name="genero" type="xs:string"/>
        <xs:element name="year" type="xs:integer"/>
      </xs:sequence>
      <xs:attribute name="id" type="xs:integer"/>
    </xs:complexType>
  </xs:element>

</xs:schema>