Ej02_DTD_/WebContent/XML/documentTypeDefinition.dtd

<!-- 
Elementos
Atributos
Entidades
PCDATA Parsed Character Data
-->

<!-- ELEMENTOS -->

<!ELEMENT raiz (libro | pedido | mensaje | coche | informacion)*>

<!--
Una etiqueta que solo tiene un nodo de texto
<!ELEMENT libro (#PCDATA)>
-->

<!--Etiquetas con hijos
<!ELEMENT libro (ISBN, titulo, autor, year)>
	<!ELEMENT ISBN (#PCDATA)>
	<!ELEMENT titulo (#PCDATA)>
	<!ELEMENT autor (#PCDATA)>
	<!ELEMENT year (#PCDATA)>
-->

<!-- Los hijos a su vez pueden contener otras etiquetas:-->
<!ELEMENT libro (ISBN, titulo, autor, year)>
	<!ELEMENT ISBN (#PCDATA)>
	<!ELEMENT titulo (#PCDATA)>
	<!ELEMENT autor (nombre, pais, nacimiento)>
		<!ELEMENT nombre (#PCDATA)>
		<!ELEMENT pais (#PCDATA)>
		<!ELEMENT nacimiento (#PCDATA)>
	<!ELEMENT year (#PCDATA)>

<!-- Elemento vacío -->

<!ELEMENT br EMPTY>

<!-- 
Número de ocurrencias 
(hijo)  : una y solo una
(hijo+) : una o más
(hijo*) : cero o más
(hijo?) : cero o una
-->

<!--
-->
<!ELEMENT pedido (codigo, cliente, notas?, detalles)>
	<!ELEMENT codigo (#PCDATA)>
	<!ELEMENT cliente (codigo,nombre,telefono)>
		<!--<!ELEMENT codigo (#PCDATA)>-->
		<!--<!ELEMENT nombre (#PCDATA)>-->
		<!ELEMENT telefono (#PCDATA)>		
	<!ELEMENT notas (#PCDATA)>
	<!ELEMENT detalles (detalle+)>
		<!ELEMENT detalle (producto, precio, cantidad)>
			<!ELEMENT producto (#PCDATA)>
			<!ELEMENT precio (#PCDATA)>
			<!ELEMENT cantidad (#PCDATA)>

<!-- 
(hijo1|hijo2) : uno u otro
-->

<!ELEMENT mensaje ( texto, (destinatario|destinatarios) )>
	<!ELEMENT texto (#PCDATA)>
	<!ELEMENT destinatario (#PCDATA)>
	<!ELEMENT destinatarios (destinatario+)>

<!--
Contenido mixto. No recomendable por su ambiguedad
-->
<!ELEMENT aviso (#PCDATA|descripcion)*>
	<!ELEMENT descripcion (#PCDATA)>

<!--
Atributos

Tipo:
CDATA	   Alfanumérico
(v1|v2|..) Valor seleccionado de una lista
ID	       Identificador único
IDREF	   Identificador de otro elemento
IDREFS	   Lista de identificadores de otros elementos

Valor
"texto"        valor por defecto del atributo
#REQUIRED      atributo obligatorio
#IMPLIED       opcional
#FIXED "valor" Solo puede tener un valor
-->

<!ELEMENT coche EMPTY>
	<!ATTLIST coche marca CDATA #REQUIRED>
	<!ATTLIST coche modelo CDATA #IMPLIED>
	<!ATTLIST coche matricula CDATA "">
	<!ATTLIST coche color CDATA #FIXED "Rojo">

<!-- 
Entities 
<etiqueta>&entidad;</etiqueta>
-->
<!ENTITY version "Version 1.0">
<!ENTITY dato "DATO">

<!ELEMENT informacion (#PCDATA)>











