Ej02_DTD/src/main/resources/XML/01_elementos.dtd

<!--

Los DTD vienen del SGML, el XML es muy similar al SGML (1986)
El SGML viene de GML (1969)

Componentes de un XML:
 
Elementos/etiquetas
Atributos
Entidades
PCDATA: Parsed Character Data
CDATA: Nodo de texto que no se analiza


ELEMENTOS

<!ELEMENT element-name category>
<!ELEMENT element-name (element-content)>

Elementos vacíos

	<!ELEMENT element-name EMPTY>

	<!ELEMENT br EMPTY>
	<br>
	</br>

Elementos con únicamente PCData en el que no se esperan etiquetas

	<!ELEMENT element-name (#PCDATA)>

	<!ELEMENT texto (#PCDATA)>

	<texto>
		Si aquí hubiera etiquetas daría error al validar
	</texto>
	
Elementos con cualquier contenido

	<!ELEMENT element-name ANY>
	<!ELEMENT contenido ANY>

Elementos con hijos (secuencias)

	<!ELEMENT element-name (hijo)>
	<!ELEMENT element-name (hijo1, hijo2, hijo3)>
	
	<!ELEMENT pelicula (id, titulo, director, genero, year)>
	Los hijos deben ser declarados
	<!ELEMENT id (#PCDATA)>
	<!ELEMENT titulo (#PCDATA)>
	<!ELEMENT director (#PCDATA)>
	<!ELEMENT genero (#PCDATA)>	
	<!ELEMENT year (#PCDATA)>	
	
-->

<!ELEMENT cliente (id, nombre, direccion, telefono, libro)>
<!ELEMENT id        (#PCDATA)>
<!ELEMENT nombre    (#PCDATA)>
<!ELEMENT direccion (#PCDATA)>
<!ELEMENT telefono  (#PCDATA)>

<!--Los hijos a su vez pueden contener otras etiquetas:-->

<!ELEMENT libro (ISBN, titulo, autor, year)>
	<!ELEMENT ISBN (#PCDATA)>
	<!ELEMENT titulo (#PCDATA)>
	<!ELEMENT autor (nombre, pais, fechaNacimiento)>
		<!--Este ya está declarado arriba 
		<!ELEMENT nombre (#PCDATA)>-->
		<!ELEMENT pais (#PCDATA)>
		<!ELEMENT fechaNacimiento (#PCDATA)>
	<!ELEMENT year (#PCDATA)>

